.site-sidebars {
  .block {
    margin-bottom: 30px;
  }
}

#block-sockentitylink {
  h2 {
    display: none;
  }
  .content a {
    font-family: 'Droid Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s ease-in-out;
    border-radius: 6px;
    font-size: 14px;
    margin: 27px 27px 30px -25px;
    display: block;
    padding: 6px 10px;
    &:hover{
      background: #261D19;
      color: #fff;
      text-decoration: none;
    }
  }
}
